<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <img class="col-lg-8 col-xs-12" src="https://image.flaticon.com/icons/svg/2035/2035812.svg" class="img-fluid pull-xs-left" alt="...">
      </div>

      <div class="row">
          <button on-click="incrementar" class="btn btn-success" type="button" name="button">Cargar datos</button>
          Bidireccional <input type="text" placeholder="[[prop3]]" value="{{prop1::input}}">
          <br>
          Unidireccional <input type="text" name="" value="[[prop1]]">
      </div>

      <div class="row">
          <table class="table table-striped col-lg-12 col-xs-12">
            <thead>
              <th>ID</th>
              <th>Name</th>
              <th>Apellido</th>
            </thead>
            <tbody>
              <tr>
                <td>[[prop2]]</td>
                <td>Pepinski</td>
                <td>Kalsounski</td>
              </tr>
            </tbody>
          </table>
      </div>

    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MivisorApp extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String,
          },
          prop2:{
            type: Number,
            value:666
          },
          prop3:{
            type: String,
          }
        };
      }
      incrementar()
      {
        this.prop2 = this.prop2 +1;
        console.log(prop2);
      }
    }

    window.customElements.define(MivisorApp.is, MivisorApp);
  </script>
</dom-module>
