<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
          <div class="row">
            <button on-click="getClientes" class="btn btn-success" type="button" name="button">Cargar datos</button>
            <button on-click="agregarClientes" class="btn btn-info" type="button" name="button">Agregar Clientes</button>
          </div>
          <div class="row">
            <table>
                <tbody>
                  <template is="dom-repeat" items="{{clientes}}">
                    <tr>
                      <td>
                        [[item.CustomerID]]
                      </td>
                      <td>
                        [[item.ContactName]]
                      </td>
                      <td>
                        [[item.CompanyName]]
                      </td>
                    </tr>
                  </template>
                </tbody>
            </table>
          </div>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify:true
          }

        };
      }
      incrementar()
      {
        this.prop2 = this.prop2 +1;
        console.log(prop2);
      }

      getClientes()
      {
        var request=new XMLHttpRequest();
      	var url="https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
      	request.open("GET", url, false);
        request.setRequestHeader("Accept","application/json");
        request.send();
        this.clientes = JSON.parse(request.responseText).value;
        console.table(this.clientes);
      }


      agregarClientes()
      {
        console.log("Hello its me");
        var request=new XMLHttpRequest();
      	var url="https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
      	request.open("POST", url, false);
        request.setRequestHeader("Accept","application/json");
        request.setRequestHeader("Content-Type","application/json");
        var nuevoCliente = {"CustomerID": 1234 , "ContactName": "Federich", "CompanyName": "La caverna de Moe"}
        var body = JSON.stringfy(nuevoCliente);

        request.send(body);
        this.respuesta = request.responseText;
        console.log(this.respuesta);

      }

    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
